table thead th {
  text-align: center !important;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#header{
    padding-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #000000;
  }

  footer {
    position:fixed;
    background-color: #333;
    color:white;
    left:0;
    justify-content: center;
    bottom: 0;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #p{
    margin: 15px;
  }

  table td {
    padding-right: 90px;
  }

  table {
    margin-left: 50px;
  }  

  #space {
    margin: 100px;
  }

  #placement {
    padding: 25px;
  }

  #flex {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
  }
